<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini-projeto 01 - Formulário</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
</head>
<body>

  <main>
    <h1>Cadastrar estudante</h1>
    <form action="{{ route('EstudantesController.register') }}" method="POST">
      <p>Nome: <input type="text" name="nome" placeholder="Insira seu nome" value="{{ flashMessages.get('nome') || '' }}" required /></p>
      <p>Curso:
          <select name="cursoId" required>
              @each(curso in cursos)
                  <option value={{curso.id}}> {{ curso.nome }} </option>
              @end
          </select>
          <a href="/curso/form">Cadastrar curso</a>
      </p>
        <p><input type="submit" value="Adicionar" /></p>
    </form>

      <a href="/estudante">Formulário de estudantes</a><br>
      <a href="/estudante/getListaEstudantes">Estudantes</a><br>
        <a href="/avatar/registerAvatar">Cadastrar avatar</a><br>
        <a href="/avatar/lista">Listar avatares</a><br>
        <a href="/">Menu principal</a><br>
      </main>
</body>
</html>
