<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudantes</title>

</head>

<body>
    <h1>Listar estudante</h1>
    <p>Lista de estudantes cadastrados: </p>
    <ul>
      @each(estudante in estudantes)
          <li>
              <span>{{estudante.nome}} - Curso {{estudante.curso.nome}}</span>
              <a href="/estudante/detalhes/{{estudante.id}}">Detalhes</a>
              <a href="/estudante/deletar/{{estudante.id}}">Deletar</a>
          </li>
      @end
    </ul>
    <br>
    <p>Tabela com as infos:</p>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Curso</th>
          </tr>
        </thead>
        <tbody>
            @each(estudante in estudantes)
              <tr>
                <td>{{estudante.id}}</td>
                <td>{{estudante.nome}}</td>
                <td>{{estudante.curso.nome}}</td>
              </tr>
          @end
        </tbody>
      </table>
    <br><br>
    <a href="/estudante">Formulário de estudantes</a><br>
    <a href="/estudante/getListaEstudantes">Estudantes</a><br>
    <a href="/avatar/registerAvatar">Cadastrar avatar</a><br>
        <a href="/avatar/lista">Listar avatares</a><br>
        <a href="/">Menu principal</a><br>
      </body>

</html>
