<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudante</title>
</head>
<body>
       <h1><p>Olá, {{estudante.nome}}</p></h1>
        <p>Matrícula: {{estudante.id}}</p>
        <p>Seu curso é: {{estudante.curso.nome}}</p>

        <br />
        <a href="/estudante">Formulário de estudantes</a><br>
        <a href="/estudante/getListaEstudantes">Estudantes</a><br>
        <a href="/avatar/registerAvatar">Cadastrar avatar</a><br>
        <a href="/avatar/lista">Listar avatares</a><br>
        <a href="/">Menu principal</a><br>
</body>
</html>
